.become-partner-container {
    max-width: 1400px;
    margin: auto;
    background-color: #000;
    color: white;
}

.become-partner-section {
    text-align: center;
    justify-content: center;
}

.become-partner-section-heading {
    max-width: 600px;
    margin: auto;
    font-size: 4rem;
    color: blue;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.become-partner-section-para {
    font-size: 2rem;
    max-width: 800px;
    margin: auto;
}

.become-partner-column-section {
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 1rem;
    padding: 4rem 0rem;
}

.become-partner-column {
    max-width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.become-partner-column p {
    padding: 1rem 0rem;
}

.become-commissions {
    color: blue;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.become-commissions-para {
    font-size: 2rem;
}

.become-commissions-table {
    padding-top: 3rem;
    max-width: 700px;
    margin: auto;
}

.section-plans-table {
    border-bottom: 2px solid rgb(192, 189, 189);
    padding: 0.5rem;
    display: flex;
    text-align: center;
}

.table-plans {
    width: 300px;
}

.become-commission-alsoget {
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: blue;
}

.become-commission-alsoget-li {
    max-width: 700px;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: left;
}

.benefit-item {
    padding: 1rem;
}

.open-partner-link {

    cursor: pointer;
    margin-top: 4rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    background-color: blue;
    transition: 0.2s;
}

.open-partner-link:hover {
    background-color: white;
    color: #000;
    padding: 0.5rem 3rem;

}

.become-partner-deshoard {
    text-align: center;
}

.partner-terms-condition {
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}